<%= form_for(@cometum) do |f| %>
  <% if @cometum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cometum.errors.count, "error") %> prohibited this cometum from being saved:</h2>

      <ul>
      <% @cometum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cometa %><br>
    <%= f.text_field :Cometa %>
  </div>
  <div class="field">
    <%= f.label :Tamano %><br>
    <%= f.text_field :Tamano %>
  </div>
  <div class="field">
    <%= f.label :Color %><br>
    <%= f.text_field :Color %>
  </div>
  <div class="field">
    <%= f.label :Stela %><br>
    <%= f.text_field :Stela %>
  </div>
  <div class="field">
    <%= f.label :Trayectoria %><br>
    <%= f.text_field :Trayectoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
