<p id="notice"><%= notice %></p>

<p>
  <strong>Cometa:</strong>
  <%= @cometum.Cometa %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @cometum.Tamano %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cometum.Color %>
</p>

<p>
  <strong>Stela:</strong>
  <%= @cometum.Stela %>
</p>

<p>
  <strong>Trayectoria:</strong>
  <%= @cometum.Trayectoria %>
</p>

<%= link_to 'Edit', edit_cometum_path(@cometum) %> |
<%= link_to 'Back', cometa_path %>
