<%= form_for(@asteroide) do |f| %>
  <% if @asteroide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asteroide.errors.count, "error") %> prohibited this asteroide from being saved:</h2>

      <ul>
      <% @asteroide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Asteroide %><br>
    <%= f.text_field :Asteroide %>
  </div>
  <div class="field">
    <%= f.label :Tamano %><br>
    <%= f.text_field :Tamano %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
