<p id="notice"><%= notice %></p>

<p>
  <strong>Estrella:</strong>
  <%= @estrella.Estrella %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @estrella.Tamano %>
</p>

<p>
  <strong>Masa:</strong>
  <%= @estrella.Masa %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @estrella.Volumen %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @estrella.Localizacion %>
</p>

<p>
  <strong>Color:</strong>
  <%= @estrella.Color %>
</p>

<%= link_to 'Edit', edit_estrella_path(@estrella) %> |
<%= link_to 'Back', estrellas_path %>
