<p id="notice"><%= notice %></p>

<p>
  <strong>Nebulosa:</strong>
  <%= @nebulosa.Nebulosa %>
</p>

<p>
  <strong>Tiponebulosa:</strong>
  <%= @nebulosa.TipoNebulosa %>
</p>

<%= link_to 'Edit', edit_nebulosa_path(@nebulosa) %> |
<%= link_to 'Back', nebulosas_path %>
